<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/mycss/public.css" />
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8" src="js/vue.js"></script>
	</head>
	<style type="text/css">
		.login_box {
			display: none;
		}
		
		@media only screen and (max-width: 992px) {
			.main {
				width: 100%;
			}
			.close {
				display: none;
			}
		}
		
		@media only screen and (min-width: 993px) {
			.main {
				width: 60%;
				margin-left: 220px;
			}
		}
	</style>

	<body style="background: #383838;">
		<div id="text_box"> 
			<div class="login_box">
				<div class="close">
					<a href="index.html"><span class="glyphicon glyphicon-remove" style="font-size: 44px; color: white;"></span></a>
				</div>
				<div class="container">
					<div class="row" style="padding: 30px;">
						<div class="main">
							<p style="text-align:center; font-size:40px; color:#5d5d5d;" v-html="login_html"></p>
							<form style="color: white;">
								<label>
									<p>用户名或邮箱</p>
									<input class="name" type="text"/>
								</label>
								<label>
									<p>密码</p>
									<input class="password" type="password" />
								</label>
								<div class="clearfix"></div>
								<input class="remember" type="checkbox" style="width:5%; float:left;" />
								<p style="padding-left: 30px; padding-top: 1px;">记住我（请在私人电脑上使用此功能）</p>
								<hr />
								<input class="login highlight_btu" type="button" value="登录" />
								<input class="register highlight_border" type="button" value="注册" />
								<div class="other_way">
									<p style="float: left;">其他账号登录：</p>
									<div class="twitter_icon">
										<a class="icon-twitter" href=""></a>
									</div>
									<div class="wechat_icon">
										<a class="icon-comments" href=""></a>
									</div>
									<div class="goole_icon">
										<a class="icon-google-plus" href=""></a>
									</div>
									<div class="facebook_icon">
										<a class="icon-facebook" href=""></a>
									</div>
								</div>
								<p style="float: right;">
									<a href="">忘记密码？点这里找回</a>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--注册的盒子-->
			<div class="register_box">
				<div class="close">
					<a href="index.html"><span class="glyphicon glyphicon-remove" style="font-size: 44px; color: white;"></span></a>
				</div>
				<div class="container">
					<div class="row" style="padding: 30px;">
						<div class="main">
							<p style="text-align:center; font-size:40px; color:#5d5d5d;" v-html="register_html"></p>
							<form style="color: white;" class="form">
								<label>
									<p>电子邮箱</p>
									<input class="email" type="email" v-model="form.email" v-on:blur="emailBlur"
									/>
									<div v-bind:class="{ email_necessary }" v-if="emailnecessary === 0">此项必须填写</div>
									<div v-bind:class="{ email_necessary }" v-else-if="emailnecessary === 1">邮箱格式错误</div>
									<div :class="{ answer_necessary }" v-else="emailnecessary === -1" style="display: none;"></div>
								</label>
								<label>
									<p>密码</p>
									<input class="password" type="password" v-model="form.password" v-on:blur="passwordBlur"/>
									<div :class="{ password_necessary }" v-text="password_necessary" v-show="passwordnecessary"></div>
								</label>
								<label>
									<p>再次输入密码</p>
									<input type="password" v-model="form.passwordPass" v-on:blur="passwordPassBlur"/>
									<div :class="{ password_necessary }" v-if="passwordPassnecessary">两次密码不一致</div>
								</label>
								<label>
									<p>验证问题</p>
									<p>请回答：{{ num1 }} + {{ num2 }} 等于几？</p>
									<input class="answer" type="text" v-model="form.answer" v-on:blur="answerBlur"/>
									<div :class="{ answer_necessary }" v-if="answernecessary === 0">此项必须填写</div>
									<div :class="{ answer_necessary }" v-else-if="answernecessary === 1">答案回答错误</div>
									<div :class="{ answer_necessary }" v-else="answernecessary === -1" style="display: none;"></div>
								</label>
								<hr />
								<input class="register highlight_btu" type="button" value="注册"  @click="submit"/>
								<input class="login highlight_border" type="button" value="已经有账号了？ 请登录" />
								<input class="highlight_border" type="button" value="重置"  @click="reset"/>
								<div class="other_way">
								<p style="float: left;">其他账号登录：</p>
								<div class="twitter_icon">
									<a class="icon-twitter" href=""></a>
								</div>
								<div class="wechat_icon">
									<a class="icon-comments" href=""></a>
								</div>
								<div class="goole_icon">
									<a class="icon-google-plus" href=""></a>
								</div>
								<div class="facebook_icon">
									<a class="icon-facebook" href=""></a>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
			let vm = new Vue({
				el: '#text_box',
				data: {
					register_html: "注册",
					login_html: "登录",
					email_necessary: "此项必须填写",
					password_necessary: "此项必须填写",
					answer_necessary: "此项必须填写",
					emailnecessary: -1,
					passwordnecessary: false,
					passwordPassnecessary: false,
					answernecessary: -1,
					num1: Math.floor(Math.random()*10),
					num2: Math.floor(Math.random()*10),
					form: {
						email: "",
						password: "",
						passwordPass: "",
						answer: "请输入答案",
						hobbies:[
							"singing", "dancing", "watchingTV"
						]
					}
				},
				methods:{
					login:function(){
					},
					register:function(){
					},
					emailBlur:function () {
						let email = this.form.email;
						if(email == ""){
							this.emailnecessary = 0;//0代表没有输入
						}else if(!myreg.test(email)){
							this.emailnecessary = 1;//1代表答案错误
						}else {
							this.emailnecessary = -1;
						}
					},
					passwordBlur:function () {
						let password = this.form.password;
						if(password == ""){
							this.passwordnecessary = true;
						}else{
							this.passwordnecessary = false;
						}
					},
					passwordPassBlur: function(){
						if(this.form.password != this.form.passwordPass){
							this.passwordPassnecessary = true;
						}else{
							this.passwordPassnecessary = false;
						}
					},
					answerBlur:function () {
						let answer = this.form.answer;
						answer = parseInt(answer);
						if(answer == ""){
							this.answernecessary = 0;//0代表没有输入
						}else if((answer) != (this.num1 + this.num2)){
							this.answernecessary = 1;//1代表答案错误
						}else {
							this.answernecessary = -1;
						}
					},
					submit:function(){
						var vm =this;
						if(vm.answernecessary == -1 && vm.passwordPassnecessary == false 
						   && vm.passwordnecessary == false && vm.emailnecessary == -1){
						   alert("您修改后的参数为：", JSON.stringify(vm.form) );
						}else{
						   alert("请正确填写信息")
						}
					},
					reset: function(){
						this.form = {
							email: "",
							password: "",
							passwordPass: "",
							answer: "请输入答案",
							hobbies:[
								"singing", "dancing", "watchingTV"
							]
						};
						this.emailnecessary = -1;
						this.passwordnecessary = false;
						this.passwordPassnecessary = false;
						this.answernecessary = -1;
					}
				},
			})
		</script>
		
		<script type="text/javascript">
			$(function() {
				$(".register").click(function() {
					$(".register_box").show();
					$(".login_box").hide();
				})
			})
			$(function() {
				$(".login").click(function() {
					$(".login_box").show();
					$(".register_box").hide();
				})
			})
		</script>
	</body>

</html>
